
*.cache
*.json
*.pdb
*.pdb
*.dll
*.txt
*.CopyComplete
*.targets
*.v2
*.props
*.exe
Crossplay/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Crossplay/.vs/Crossplay/v16/.suo
Crossplay/.vs/Crossplay/v16/.suo
*.TMP
Crossplay/.vs/Crossplay/v17/.suo
Crossplay/obj/Release/net45/Crossplay.GeneratedMSBuildEditorConfig.editorconfig
Crossplay/.vs/Crossplay/v17/.futdcache.v1
